@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

h1,h2,h3,h4,h5,h6{margin-top:1rem}

/*.btn-success{background-color:#7b7}*/
.hidden{display:none !important}

.bg-gowest{background-color:#7D4;color:#fff}
.bg-gowest-dark{background-color:#5A3;color:#fff}
/*.bg-gowest .btn{background-color:#373;color:#fff}*/

.btn-gowest{background-color:#493;color:#fff}
.btn-gowest:hover{background-color:#382;color:#fff}
.btn-gowest:focus{border-color:#271;box-shadow:0 0 0 0.2rem #2718}

#sidebarCollapseBtn{width:100%}
.sidebar{padding-left:0;padding-right:0;max-height:100vh;
	overflow:hidden}
.sidebar .list-group-item{border-radius:0}

.list-group-item-gowest{background-color:#493;color:#fff}
.list-group-item-gowest:hover{text-decoration:none;background-color:#382;color:#fff}
.list-group-item-last{height:100vh;}

.icon{font-size:1.5em;vertical-align:middle;}
button.icon{border:none;background-color:transparent}
.btn .icon{display:block;margin:auto}
.icon-signoff{background-image:url("img/icon_signoff.png")}
.icon-edit{background-image:url("img/icon_edit.png")}
.icon-save{background-image:url("img/icon_save.png")}
.icon-delete{background-image:url("img/icon_delete.png")}
.icon-collapseCaret{background-image:url("img/icon_caretCollapse.png")}
.collapsed .icon-collapseCaret{background-image:url("img/icon_caretExpand.png")}

.collapsed .fa-angle-up::before{content:"\f107"}

.tableLabel{margin-left:0.5em}
.tableEdit{display:none}

p.disclaimer{font-size:0.7em;font-style:italic;color:#888}
p.disclaimer:before{content:"("}
p.disclaimer:after{content:")"}

li.nav-item{display:flex;align-items:center}
.navbar-brand{display:flex;align-items:center;}
.navbar-brand-image{width:40px}
.navbar-brand-name{margin:0 10px}
.navbar-nav-right{margin-left:auto}
.navbar button{margin:0 5px}
.navbar a{margin:0 5px}
.userWelcome{display:flex;align-items:center;margin:0 5px}
li.nav-item .btn{width:-moz-available;width:-webkit-fill-available}

.breadcrumbs{padding:10px}
.breadcrumbs a{color:#fff}

.galleryItem{margin:20px 0;text-align:center;width:inherit}
.galleryItemLink{width:inherit;text-decoration:none;display:block;
	color:#111}
.galleryItemLink:hover{text-decoration:none;color:#111}
.galleryItemImage{width:inherit;max-width:320px}
.galleryItemPrice{color:#111;font-size:1.5em}
.galleryRow{padding-left:30px;padding-right:40px}

.categoryTitle{color:#fff;font-size:20px;
	padding:20px;margin-bottom:20px}
.categoryTitle a{color:#fff}

.productCount{font-size:0.7em;font-style:italic;margin-left:1em}

.table td{vertical-align:middle}
.tableImage{width:3em}

.form-image-input{display:flex;align-items:center}
.form-image-input img{width:120px;padding:1em;border:solid 1px #ced4da;margin-right:1em}

.searchbar{margin:0.5em 0;width:100%;}

#productImageHolder{margin:20px;padding:20px;border:solid 1px #AF8;
	border-radius:10px;}
#productImage{width:100%}
#productDataHolder{margin:20px}
#productName{font-size:2em;font-weight:bold;}
#productDescription{margin-top:10px;border-top:solid 1px #AF8}