body{margin:0}
iHTML{display:block;width:100%}

.btn-row{display:flex;justify-content:center}
.btn{padding:0.5em;text-align:center;display:inline-block;text-decoration:none;
    color:white;background:black;margin:0.5em}
.btn-grey, .btn-gray{background:#777}
.btn-green{background:#3a7}

#header{background:lightgreen;display:flex;justify-content:space-between;
    padding:10px}
#content{display:flex;flex-flow:column;padding:10px 10vh}
#gallery{display:grid;grid-template-columns:repeat(auto-fill, 20vh);
    place-content:center;text-align:center}

#checkoutTable{text-align:center}